* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main {
  max-width: 50vw;
}
h1,
h2 {
  margin: 30px;
  text-align: center;
  white-space: nowrap;
}
.search {
  /* background-color: #ee7b7b64; */
  width: 350px;
  height: 35px;
  position: relative;
}
.search input {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  border: none;
  width: 300px;
}

button {
  position: absolute;
  border-radius: 5px;
  height: 35px;
  aspect-ratio: 1;
  cursor: pointer;
}

button:first-of-type {
  left: 265px;
}

button:last-of-type {
  right: 0;
}
.searchRes {
  display: none;
  text-align: center;
  /* max-width: 80vw; */
  min-width: 80vw;
}
.container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
img {
  aspect-ratio: 1;
  border: 4px solid white;
  margin: 10px;
}
.meal {
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.searchRes img {
  width: 150px;
}
.mealTitle {
  visibility: hidden;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000bb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.meal:hover .mealTitle {
  transition: 0.5s ease-in-out;

  visibility: visible;
}
.mealInfo {
  display: none;
}
.mealInfo img {
  width: 300px;
}
.category {
  /* width: 500px; */
  height: 130px;
  border: 2px dashed coral;
  justify-self: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.category p {
  letter-spacing: 2px;
}

.ingredients,
.ingredients .row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
/* .ingredients {
  flex-direction: column;
}
.ingredients .row {
  flex-direction: row;
} */
.ingredients div {
  padding: 5px;
  word-wrap: normal;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
}
